.slider-container {
  width: 45px;
  height: 20px;
  background-color: #ddd;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.slider-container.active {
  background-color: hsl(3, 71%, 56%); /* var(--red-500) si tu préfères */
}

.slider-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2.5px;
  left: 3px;
  transition: transform 0.5s ease-in-out;
}

.slider-container.active .slider-circle {
  transform: translateX(24px); /* slide à droite */
}