#root {
  width: 100%;
  height: 100%;
}

#extensions_intro {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-primary);
}

#app {
  padding: 1rem
}

.extensions_filter-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.extensions_filter-list button {
  border: none; 
  background-color: var(--color-button);
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-size: var(--font-size-body);
  font-weight: 500;
  color: var(--color-text-primary);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.extensions_filter-list button:hover {
  background-color: var(--neutral-100);
}
.extensions_filter-list button:focus {
  outline: none;
}

.extensions_filter-list button.active {
  background-color: var(--red-500);
  color: var(--color-text-primary);
  border: 1px solid var(--neutral-300);
  transition: background-color .2s ease-in-out;
  cursor: pointer;
} 
.extensions_filter-list button:disabled {
  background-color: var(--neutral-300);
  cursor: not-allowed;
}
.extensions_filter-list li {
  margin: 0 .5rem;
}


@media screen and (min-width: 780px) {
  #app {
    padding: 1rem 5.5rem;
  }
  #extensions_intro {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
  }

}
