#root {
  width: 100%;
  height: 100%;
}

#extensions_intro {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-primary);
}

#app {
  padding: 1rem
}

#extension_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .7rem;
}

#extension_list > p{
  text-align: center;
  color: var(--color-text-secondary);
  font-size: var(--font-size-body);
  margin-top: 2rem;
}


@media screen and (min-width: 780px) {
  #app {
    padding: 1rem 5.5rem;
  }
  #extensions_intro {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
  }

}
