@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* ========== Colors ========== */
  /* --- Neutral --- */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0:   hsl(200, 60%, 99%);

  /* --- Red --- */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* ========== Gradients ========== */
  --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* ========== Typography ========== */
  --font-size-body: 16px;

  font-family: "Noto Sans", sans-serif;
}

html, body, #root{
  height: 100%;
  margin: 0;
  padding: 0;

}


/** Mobile version **/
body {
  background-color: var(--neutral-200);
  padding: .5rem; 
}